
body{
    text-align: center;
    
}
.vermelho{
color:red
}
.verde{
    color: green;
}
.azul{
    color: blue;
}
.amarelo{
    color: yellow;
}
.preto{
    color: black;
}
.roxo{
    color: purple;
}
